
.post-list-container {
  border: "1px solid black";
  padding: 1rem 10rem;
}

.btn-action {
  background-color: #C62641;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  padding: 1rem 4rem;
  font-size: 1rem;
  min-width: 1rem;
  font-weight: 600;
}

